*{
    display: block;
    margin: 0 auto;
    padding: 0;
}
.container{
    background: linear-gradient(135deg, #219df0, #ffd103);
}
.news-container {
    padding: 20px;
  }

  .news-container h2 {
    text-align: center;
    font-size: 28px;
    margin: 30px 0 20px;
    text-transform: uppercase;
    color: #0570fc;
    font-weight: bold;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }
  
  .news-card {
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border-radius: 12px;
    cursor: pointer;
    padding-top: 10px;
  }
  
  .news-card:hover {
    transform: translateY(-5px);
  }
  
  .news-img {
    width: 80%;
    object-fit: contain;
  }
  
  .news-content {
    padding: 15px;
  }
  
  .news-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .news-content p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .news-content a {
    display: inline-block;
    margin-top: 8px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .news-content a:hover {
    text-decoration: underline;
  }
  .news-ad {
    background: linear-gradient(135deg, #97caec, #ffd200);
    color: #333;
    padding: 25px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }
  
  .news-ad h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .news-ad p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .news-ad .btn-ad {
    display: inline-block;
    padding: 10px 18px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .news-ad .btn-ad:hover {
    background-color: #e64a19;
  }
.news-ad img{
    margin-bottom: 30px;
    width: 80%;
    object-fit: contain;
}  
.ads{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:20px
}
.ads img{
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
}